@model D2S.Models.Cliente
@{
    ViewBag.Title = "Registo";
}
<script src="~/js/Registo.js"></script>
<link href="~/css/Registo.css" rel="stylesheet" />
<div class="container col-12" style="height:80vh;">

    @if (ViewBag.ver == null)
    {
        <!---------------------------------------form1------------------------------------------------>
        <div id="form1" class="container col-12" style="position:absolute; height:60vh;z-index:3;background-color:white;margin-top:5%;margin-bottom:5%">

            <!--texto da div dos inputs-->
            <div class=" container-fluid texto text-center col-12">
                <p>
                    Obrigado por se encontrar interessado em se registar no nosso site, para isso basta preencher alguns campos em baixo com alguns dados seus,
                    de forma a que consiga fazer as suas encomendas da forma mais simpels e correta, e tambem de forma a se juntar à grande familia da D2S!!!
                </p>
            </div>
            <!--inputs-->
            <div class="container-fluid col-12 " style="margin-top:7%">
                <form method="post">
                    <div class="col-lg-6 col-md-12 float-left ">
                        <!--FORM-->

                        <div class="container text-center col-6">
                            <div class="form-group row ">
                                <!--input do nome-->
                                <label asp-for="nome">Nome*:</label><input asp-for="nome" type="text" name="nome" value="@ViewBag.nome" /><br />
                                <span asp-validation-for="nome" class="text-danger"></span>
                            </div>


                            <div class="form-group row ">
                                <!--input do telemovel-->
                                <label asp-for="telefone">Telemovel*:</label><input asp-for="telefone" name="telefone" value="@ViewBag.telemovel" /><br />
                                <span asp-validation-for="telefone" class="text-danger"></span>
                            </div>


                            <div class="form-group row ">
                                <!--input do email-->
                                <label asp-for="email">Email*:</label><input asp-for="email" type="email" name="email" value="@ViewBag.email" /><br />
                                <span asp-validation-for="email" class="text-danger"></span>
                            </div>


                            <div class="form-group row align-content-center ">
                                <!--input do genero-->
                                <label asp-for="sexo">Genero*:</label>
                                <select class="w-50" asp-for="sexo" name="sexo">
                                    <option>@ViewBag.sexo</option>
                                    <option>Masculino</option>
                                    <option>Feminino</option>
                                    <option>Outro</option>
                                </select><br />
                                <span asp-validation-for="sexo" class="text-danger"></span>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 float-right text-center">
                        <div class="container text-center col-7">
                            <div class="form-group row">
                                <!--input da data de nascimento-->
                                <label asp-for="datadenascimento">Data de Nascimento*:</label><input asp-for="datadenascimento" type="date" name="datadenascimento" value="@ViewBag.datadenascimento" /><br />
                                <span asp-validation-for="datadenascimento" class="text-danger"></span>
                            </div>


                            <div class="form-group row">
                                <!--input do NIF-->
                                <label asp-for="nif">Numero de Identificacao Fiscal:</label><input asp-for="nif" type="number" name="nif" value="@ViewBag.nif" /><br />
                                <span asp-validation-for="nif" class="text-danger"></span>
                            </div>

                            <div class="form-group row">
                                <!--input da pass-->
                                <label asp-for="pass">Password*:</label><input asp-for="pass" type="password" name="pass" value="@ViewBag.pass" /><br />
                                <span asp-validation-for="pass" class="text-danger"></span>
                            </div>


                            <div class="form-group row">
                                <!--input da confirmacao da pass-->
                                <label>Confirmacao Password*:</label><input asp-for="confpass" type="password" name="confpass" value="@ViewBag.confpass" /><br />
                                <span asp-validation-for="confpass" class="text-danger"></span>
                            </div>
                        </div>


                    </div>
                    <div class=" text-center mr-5 pr-5 ">
                        <input type="submit" class="btn btn-outline-dark text-center mt-5" value="Avançar" onclick="func1()" asp-controller="cliente" asp-action="ver" />
                    </div>
                </form>
            </div>

        </div>
    }

    <!---------------------------------------form1/2------------------------------------------------>
    <div id="form1/2" class="container col-12" style="position:absolute; height:60vh;z-index:3;background-color:white;margin-top:5%;margin-bottom:5%;display:none">

        <!--texto da div dos inputs-->
        <div class=" container-fluid texto text-center col-12">
            <p>
                Obrigado por se encontrar interessado em se registar no nosso site, para isso basta preencher alguns campos em baixo com alguns dados seus,
                de forma a que consiga fazer as suas encomendas da forma mais simpels e correta, e tambem de forma a se juntar à grande familia da D2S!!!
            </p>
        </div>
        <!--inputs-->
        <div class="container-fluid col-12 " style="margin-top:7%">
            <form method="post" asp-controller="cliente" asp-action="registo">
                <div class="col-lg-6 col-md-12 float-left ">
                    <!--FORM-->

                    <div class="container text-center col-6">
                        <div class="form-group row ">
                            <!--input do nome-->
                            <label asp-for="nome">Nome*:</label><input asp-for="nome" type="text" name="nome" value="@ViewBag.nome" /><br />
                            <span asp-validation-for="nome" class="text-danger"></span>
                        </div>


                        <div class="form-group row ">
                            <!--input do telemovel-->
                            <label asp-for="telefone">Telemovel*:</label><input asp-for="telefone" name="telefone" value="@ViewBag.telemovel" /><br />
                            <span asp-validation-for="telefone" class="text-danger"></span>
                        </div>


                        <div class="form-group row ">
                            <!--input do email-->
                            <label asp-for="email">Email*:</label><input asp-for="email" type="email" name="email" value="@ViewBag.email" /><br />
                            <span asp-validation-for="email" class="text-danger"></span>
                        </div>


                        <div class="form-group row align-content-center ">
                            <!--input do genero-->
                            <label asp-for="sexo">Genero*:</label>
                            <select class="w-50" asp-for="sexo" name="sexo">
                                <option>@ViewBag.sexo</option>
                                <option>Masculino</option>
                                <option>Feminino</option>
                                <option>Outro</option>
                            </select><br />
                            <span asp-validation-for="sexo" class="text-danger"></span>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6 col-md-12 float-right text-center">
                    <div class="container text-center col-7">
                        <div class="form-group row">
                            <!--input da data de nascimento-->
                            <label asp-for="datadenascimento">Data de Nascimento*:</label><input asp-for="datadenascimento" type="date" name="datadenascimento" value="@ViewBag.datadenascimento" /><br />
                            <span asp-validation-for="datadenascimento" class="text-danger"></span>
                        </div>


                        <div class="form-group row">
                            <!--input do NIF-->
                            <label asp-for="nif">Numero de Identificacao Fiscal:</label><input asp-for="nif" type="number" name="nif" value="@ViewBag.nif" /><br />
                            <span asp-validation-for="nif" class="text-danger"></span>
                        </div>

                        <div class="form-group row">
                            <!--input da pass-->
                            <label asp-for="pass">Password*:</label><input asp-for="pass" type="password" name="pass" value="@ViewBag.pass" /><br />
                            <span asp-validation-for="pass" class="text-danger"></span>
                        </div>


                        <div class="form-group row">
                            <!--input da confirmacao da pass-->
                            <label>Confirmacao Password*:</label><input asp-for="confpass" type="password" name="confpass" value="@ViewBag.confpass" /><br />
                            <span asp-validation-for="confpass" class="text-danger"></span>
                        </div>
                    </div>


                </div>
                <div class=" text-center mr-5 pr-5 ">
                    <input type="submit" class="btn btn-outline-dark text-center mt-5" value="Avançar" asp-controller="cliente" asp-action="ver" />
                </div>
            </form>
        </div>

    </div>







    @if (ViewBag.ver == "sim")
    {
        <!---------------------------------------form2------------------------------------------------>
        <div id="form2" class="container col-12" style="position:absolute; height:60vh;z-index:4;background-color:white;margin-top:5%;margin-bottom:5%">
            <!--texto da div dos inputs-->
            <div class=" container-fluid texto text-center col-12">
                <p>
                    Agora so necessitamos que nos diga as duas moradas que seram usadas para lhe facilitar no ambito de quando realizar a encomenda!
                </p>
            </div>
            <!--inputs-->
            <div class="container-fluid col-12 " style="margin-top:7%">
                <form method="post" asp-controller="cliente" asp-action="registo">
                    <div class="col-lg-6 col-md-12 float-left ">
                        <!--FORM-->

                        <div class="container text-center col-6">
                            <div class="form-group row ">
                                <!--input do nome-->
                                <label asp-for="nome">Rua*:</label><input asp-for="nome" type="text" name="nome" value="" /><br />
                                <span asp-validation-for="nome" class="text-danger"></span>
                            </div>


                            <div class="form-group row ">
                                <!--input do telemovel-->
                                <label asp-for="telefone">Numero*:</label><input asp-for="telefone" name="telefone" /><br />
                                <span asp-validation-for="telefone" class="text-danger"></span>
                            </div>


                            <div class="form-group row ">
                                <!--input do email-->
                                <label asp-for="email">Andar:</label><input asp-for="email" type="email" name="email" value="" /><br />
                                <span asp-validation-for="email" class="text-danger"></span>
                            </div>


                            <div class="form-group row ">
                                <!--input do email-->
                                <label asp-for="email">Lado:</label><input asp-for="email" type="email" name="email" value="" /><br />
                                <span asp-validation-for="email" class="text-danger"></span>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 float-right text-center">
                        <div class="container text-center col-7">
                            <div class="form-group row">
                                <!--input da data de nascimento-->
                                <label asp-for="datadenascimento">Letra*:</label><input asp-for="datadenascimento" type="date" name="datadenascimento" value="" /><br />
                                <span asp-validation-for="datadenascimento" class="text-danger"></span>
                            </div>


                            <div class="form-group row">
                                <!--input do NIF-->
                                <label asp-for="nif">Codigo Postal:</label><input asp-for="nif" type="number" name="nif" value="" /><br />
                                <span asp-validation-for="nif" class="text-danger"></span>
                            </div>

                            <div class="form-group row">
                                <!--input da pass-->
                                <label asp-for="pass">Localidade*:</label><input asp-for="pass" type="password" name="pass" value="" /><br />
                                <span asp-validation-for="pass" class="text-danger"></span>
                            </div>


                            <div class="form-group row">
                                <!--input da confirmacao da pass-->
                                <label>Pais*:</label><input asp-for="confpass" type="password" name="confpass" value="" /><br />
                                <span asp-validation-for="confpass" class="text-danger"></span>
                            </div>
                        </div>


                    </div>
                    <!--botoes-->
                    <div class="botoes">
                        <input onclick="form2()" class="btn btn-outline-dark" value="voltar" />
                        <input type="submit" class="btn btn-outline-dark text-center mt-5" value="Avançar" asp-controller="cliente" asp-action="ver2" />
                    </div>
                </form>
            </div>

        </div>
    }




    @if (ViewBag.ver == "3")
    {
        <!---------------------------------------form3------------------------------------------------>
        <div id="form3" class="container col-12" style="position:absolute; height:60vh;z-index:4;background-color:white;margin-top:5%;margin-bottom:5%">
            <!--texto da div dos inputs-->
            <div class=" container-fluid texto text-center col-12">
                <p>
                    Agora so necessitamos que nos diga as duas moradas que seram usadas para lhe facilitar no ambito de quando realizar a encomenda!
                </p>
            </div>
            <!--inputs-->
            <div class="container-fluid col-12 " style="margin-top:7%">
                <form method="post" asp-controller="cliente" asp-action="registo">
                    <div class="col-lg-12 col-md-12 float-left ">
                        <!--FORM-->

                        <div class="container text-center col-12">
                            <div class="form-group row ">
                                <!--input do nome-->
                                <label asp-for="nome">Nome:</label><input asp-for="nome" type="text" name="nome" value="" /><br />
                            </div>


                            <div class="form-group row ">
                                <!--input do telemovel-->
                                <label asp-for="telefone">Numero*:</label><input asp-for="telefone" name="telefone" /><br />
                            </div>


                            <div class="form-group row ">
                                <!--input do email-->
                                <label asp-for="email">Andar:</label><input asp-for="email" type="email" name="email" value="" /><br />
                            </div>


                            <div class="form-group row ">
                                <!--input do email-->
                                <label asp-for="email">Lado:</label><input asp-for="email" type="email" name="email" value="" /><br />
                            </div>

                            <div class="form-group row ">
                                <!--input do email-->
                                <label asp-for="email">Lado:</label><input asp-for="email" type="email" name="email" value="" /><br />
                            </div>

                            <div class="form-group row ">
                                <!--input do email-->
                                <label asp-for="email">Lado:</label><input asp-for="email" type="email" name="email" value="" /><br />
                            </div>

                            <div class="form-group row ">
                                <!--input do email-->
                                <label asp-for="email">Lado:</label><input asp-for="email" type="email" name="email" value="" /><br />
                            </div>

                        </div>
                    </div>
              
                    <!--botoes-->
                    <div class="botoes">
                        <input onclick="form2()" class="btn btn-outline-dark" value="voltar" />
                        <input type="submit" class="btn btn-outline-dark text-center mt-5" value="Avançar" asp-controller="cliente" asp-action="registo" />
                    </div>
                </form>
            </div>

        </div>
    }

</div>

<script>
    function func1() {


    }
</script>

<style>
    .texto {
        margin-top: 3%;
        top: 0;
        left: 0;
        color: grey;
    }
</style>



